* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #333;
  color: white;
}

/* input/ search box----------- */
.searchContainer {
  position: relative;
}

.searchContainer .options {
  background-color: red;
  position: absolute;
  width: 150px;
  font-size: 20px;
}
